--
-- PostgreSQL database dump
--

\restrict d8oyvsZxYy0fDxvdn1T64opNk7Q8d5Pif7qcogDW7uuwKJnxUmCbAJ74gKu7XF6

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: incidents; Type: TABLE; Schema: public; Owner: rca_user
--

CREATE TABLE public.incidents (
    id integer NOT NULL,
    incident_id character varying(100) NOT NULL,
    alert_name character varying(255),
    service character varying(255),
    severity character varying(50),
    status character varying(50),
    started_at timestamp with time zone,
    resolved_at timestamp with time zone,
    summary text,
    description text,
    root_cause text,
    resolution text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.incidents OWNER TO rca_user;

--
-- Name: incidents_id_seq; Type: SEQUENCE; Schema: public; Owner: rca_user
--

CREATE SEQUENCE public.incidents_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.incidents_id_seq OWNER TO rca_user;

--
-- Name: incidents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: rca_user
--

ALTER SEQUENCE public.incidents_id_seq OWNED BY public.incidents.id;


--
-- Name: incidents id; Type: DEFAULT; Schema: public; Owner: rca_user
--

ALTER TABLE ONLY public.incidents ALTER COLUMN id SET DEFAULT nextval('public.incidents_id_seq'::regclass);


--
-- Data for Name: incidents; Type: TABLE DATA; Schema: public; Owner: rca_user
--



--
-- Name: incidents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: rca_user
--

SELECT pg_catalog.setval('public.incidents_id_seq', 30, true);


--
-- Name: incidents incidents_incident_id_key; Type: CONSTRAINT; Schema: public; Owner: rca_user
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_incident_id_key UNIQUE (incident_id);


--
-- Name: incidents incidents_pkey; Type: CONSTRAINT; Schema: public; Owner: rca_user
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict d8oyvsZxYy0fDxvdn1T64opNk7Q8d5Pif7qcogDW7uuwKJnxUmCbAJ74gKu7XF6

